.sign-up {
  color: #ffa62b;
  text-decoration: none;
}

.password {
  position: relative;
}

.password-control {
  background-color: inherit;
  border: unset;
  padding: 0;
  position: absolute;
  right: 6px;
  top: 7px;
}

.message {
  color: #ef0000;
  font-size: 14px;
  height: 21px;
  margin: 0;
}
