.sign-up {
  color: #ffa62b;
  text-decoration: none;
}

.password {
  display: flex;
  column-gap: 5px;
}

.password-control {
  background-color: inherit;
  border: unset;
}

.message {
  color: #ef0000;
  font-size: 14px;
  height: 21px;
  margin: 0;
}
