.login-container {
  margin-top: 10vh;
}

.sign-up {
  text-decoration: none;
  color: #ffa62b;
}

.password {
  position: relative;
}

.password-control {
  position: absolute;
  top: 7px;
  right: 6px;
  padding: 0;
  border: none;
  background-color: inherit;
}
