.form-block {
  height: fit-content;
  flex-direction: column;
  padding: 15px;
  border: solid #dfdfdf 1px;
  border-radius: 10px;
  transition: 0.2s;
}

.form-control {
  transition: 0.2s;

  &:disabled {
    border: transparent;
    background-color: transparent !important;
    font-weight: 500;
  }
}

.edit-btn {
  border: unset;
  background: transparent;
  opacity: 0.6;
  transition: 0.2s;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 1;
  }
}

.save-btn {
  width: 200px;
}
