.main {
  background-image: url('../../assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}

.main-container {
  padding: 112px 0;
}

.title {
  max-width: 300px;
  color: #fff;
  font-size: 4.8em;
}

@keyframes slide-down {
  0% {
    transform: translateY(-120px);
    opacity: 0;
  }

  100% {
    transform: translateY(120px);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(120px);
    opacity: 1;
  }

  100% {
    transform: translateY(-120px);
    opacity: 0;
  }
}

.slide-down {
  animation: slide-down 1s ease-in-out;
}

.slide-up {
  animation: slide-up 1s ease-in-out;
}

.success-message {
  color: #fff;
  background-color: #00ba7c;
}
