.form-block {
  flex-direction: column;
  border: solid #dfdfdf 1px;
  border-radius: 10px;
  padding: 15px;
  transition: .2s;
}

.edit-btn {
  background: transparent;
  border: unset;
  opacity: 0.6;
  transition: 0.2s;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 1;
  }
}

.form-control {
  transition: .2s;

  &:disabled {
    background-color: transparent !important;
    font-weight: 500;
    border: transparent;
  }
}