.form-block {
  height: fit-content;
  flex-direction: column;
  padding: 15px;
  border: solid #dfdfdf 1px;
  border-radius: 10px;
  transition: 0.2s;
}

.address {
  max-width: 300px;
}

.form-control {
  transition: 0.2s;

  &:disabled {
    border: transparent;
    background-color: transparent !important;
    font-weight: 500;
  }
}

.edit-btn,
.delete-btn {
  border: unset;
  background: transparent;
  opacity: 0.6;
  transition: 0.2s;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 1;
  }
}

.delete-btn img {
  width: 23px !important;
  height: 23px !important;
}

.save-btn {
  min-width: 120px;
}

.form-select:disabled {
  --bs-form-select-bg-img: none;
  border: transparent;
  background-color: transparent !important;
  font-weight: 500;
}

.address-status {
  color: #07bc0c;
  font-weight: 500 !important;
}
