.item {
  height: 10rem !important;
  border: solid #dfdfdf 1px !important;
  border-radius: 10px;
}

.item-img {
  width: auto;
  height: 9rem;
}

.total {
  height: fit-content;
  border: solid #dfdfdf 1px;
  border-radius: 10px;
}

.quantity {
  &-block {
    height: 30px !important;
    padding: 0 !important;
    width: 90px !important;
    background: #dfdfdf;
    border-radius: 10px;
  }

  &-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 30px !important;
    padding: 0 !important;
    width: 30px;
    font-weight: 500;

    &:first-child,
    &:last-child {
      padding-bottom: 4px !important;
      font-size: 1.5em;
    }
  }
}

.card:hover {
  cursor: default !important;
  box-shadow: none !important;
}
