.card {
  transition: all 0.2s ease-in;

  &:hover {
    cursor: pointer !important;
    box-shadow: 0 0 2px #0d6efd !important;
    border: 1px solid #0d6efd;
  }
}

.card-img {
  width: auto;
  height: 300px;
  object-fit: cover;
}

.card-title {
  display: -webkit-box;
  height: 2.5em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-subtitle {
  height: 1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400 !important;
}

.price {
  font-size: 24px;
  color: #018aa6;
}

.old-price {
  margin-right: 15px;
  color: #ef000085;
  text-decoration: line-through;
  font-size: 18px;
}
