@import '~bootstrap/scss/bootstrap';

html,
body {
  margin: 0;
  height: 100%;
}

#root {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 72px auto 72px;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: #00ba7c;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background: #f66;
}

@media screen and (max-width: 768px) {
  #root {
    grid-template-rows: minmax(72px, max-content) auto 80px;
  }
}
