.registration-btn {
  margin-left: 16px;
  margin-right: 16px;

  @media (max-width: 767px) {
    margin: 10px 0;
  }
}

.nav-btns {
  align-items: center;

  @media (max-width: 767px) {
    align-items: flex-start;
  }
}

.profile-btn {
  margin-right: 10px;
  background: transparent;
  border: unset;
  opacity: 0.6;
  transition: 0.2s;

  img {
    width: 35px;
    height: 35px;
  }

  &:hover {
    opacity: 1;
  }
}
