.success-message {
  display: flex;
  position: absolute;
  z-index: 2;
  padding: 15px 30px;
  padding-right: 60px;
  top: 60px;
  color: #fff;
  background-color: #f66;

  &.hide {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  opacity: 0.6;
  transition: 0.2s;

  .line {
    display: block;
    width: 20px;
    height: 0;
    border: 1px solid #fff;

    &:first-child {
      transform: rotate(45deg) translateY(1.5px);
    }

    &:last-child {
      transform: rotate(-45deg) translateY(-1.5px);
    }
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
